**/data/*.csv
**/data/*.db
project-02-covid/data/owid-covid-data.csv
project-02-covid/covid_analysis.db
project-02-covid/covid_analysis.db-journal
https://github.com/Sunday11488/data-analyst-portfolio/edit/main/.gitignore

